@media(min-width:991px){
    .scrollClass{
        position: fixed;
         top:110px;
     }
     
     .scrollClassStop{
        position: absolute !important;
         bottom:20px !important;
         height: fit-content;
     }
     #dynamic3{
        width: 60px;
    }
    
    #dynamic3 > div > a{
      aspect-ratio: 1/1;
      padding: 5px 8px;
      transition: all 0.5s;
      color: gray;
    }
    
    #dynamic3 > div > a:hover{
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
         border: none;
         color: #f16745;
    }
    .scrollClass3{
        position: fixed;
        width: 60px;
        top: 130px;
    }
    .scrollClassStop3{
        position: absolute !important;
         bottom:20px !important;
         height: fit-content;
         width: 60px !important;
     }
}
@media (max-width:991px){
    #dynamic3{
        display: none;
    }
}

#bing{
    position: relative;

   
}


.property-form-box i{
position: absolute;
border-right: 1px solid #e5e7f2;
padding-right: 15px;
    transform: translate(50%, 50%) !important;

}

.border-c{
    border: 1px solid #e5e7f2;
}
.property-form-box label{
    font-size: 12px;
    margin-bottom: 10px;
}

.property-form-box input{
background: #F5F7FB ;
border: 1px solid #e5e7f2;
padding: 15px 20px 15px 50px;
font-size: 13px;
}
.property-form-box input:focus{
background: white !important;
}

.bg-blues{
    background-color: #F5F7FB;
}

.swiper-slider img{
    object-fit: cover;
}

.bg-features{
    background-color: #f9f9f9;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.bg-features i{
    font-size: 30px;
    color: #f16745;
}
.big{
    font-size:30px
}

.container{
    position: relative;
}

.fix{
    position: sticky !important;
    top: 100px;
}